* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.colorIt {
  background-color: white;
  /* border: 5px solid black;
  border-radius: 20px; */
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100vw;
  text-align: center;
}
#time-left {
  padding-bottom: 20px;
}
main {
  margin-left: 450px;
}
body {
  color: black;
  background: linear-gradient(to right, white, turquoise);
  padding-top: 20px;
}
#start-pause-button:hover {
  background: linear-gradient(to left, green, cyan);
  color: white;
}
#start-pause-button {
  color: white;
  font-size: 20px;
  border-radius: 20%;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 40px;
  width: 300px;
  height: 50px;
  background: linear-gradient(to right, green, cyan);
  cursor: pointer;
}

.grid {
  background-color: white;
  border: 10px solid black;
  height: 380px;
  width: 380px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.grid div {
  height: 40px;
  width: 40px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

/* .log-left,
.log-right {
  background-color: lightblue;
}
 */

.l1,
.l2,
.l3 {
  background-color: brown;
}

.l4,
.l5 {
  background-color: lightblue;
}

.c1 {
  background-color: black;
}

.c2,
.c3 {
  background-color: lightgray;
}

.frog {
  background-color: green;
}

.hintBoard div {
  height: 25px;
  margin-top: 6px;
  width: 25px;
}
.hintBoard {
  background-color: white;
  width: 40px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.hintBoard2 {
  left: 70px;
  font-size: 20px;
  background-color: white;
  width: 200px;
  position: absolute;
  bottom: 30px;
}
/* .hintBoard2 p {
  margin-top: 2px;
} */

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.lightblue {
  background-color: lightblue;
}
.brown {
  background-color: brown;
}

.black {
  background-color: black;
}
.grey {
  background-color: lightgrey;
}
.flexed {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
